.topi-player {
	padding: 1.5em 1.5em 5em;
	overflow-y: scroll;
	margin-top: 2.5em;
}

.topi-speaker {
	font-weight: bold;
}

.topi-text {
	padding: 0;
	margin: 0.5em 0.1em;
}

.topi-choice {
	text-align: center;	
}

.topi-error {
	margin: 0.2em;
	font-weight: bold;
	text-align: center;
}

.topi-controls-button {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}

.topi-controls {
	width: 100%;
	display: inline-flex;
	height: 1.5em;
	margin: 0.5em;
	position: fixed;
	background: inherit;
}

.topi-play {
	width: 1em;
	height: 1em;
	margin-top: 20%;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.fade-in {
	opacity: 0;
	animation: fadeIn 0.25s ease;
	animation-fill-mode: forwards;
}
